* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.square {
    width: 100px;
    height: 100px;
}

.fizzBuzz {
    background-color: red;
}

.fizz {
    background-color: lightgreen;
}

.buzz {
    background-color: yellow;
}

.number {
    background-color: lightblue;
}